<h1>Create a New Workout</h1>
<%= @error %>

<form action="/workouts" method="POST">
  <label>Workout Date:</label>
  <input type="text" name="date"><br>
  <br>
  <%@excercises.each do |e|%>
    <li>
      <%=e.name%>    Value =  <%=e.value%>
    </li><br>
  <%end%>
  






<input type="submit" value="Create Workout">
</form>
