<h1>Create a New Workout</h1>
<%= @error %>

<form action="/workouts" method="POST">
  <label>Workout Date:</label>
  <input type="text" name="date">

  <br>
  






<input type="submit" value="Create Workout">
</form>
