<h1>Workout Date: <%= @workout.date %><h1>

<form action="/workouts/<%= @workout.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete"> 
</form>