<h1>Insert the form to create a new instance of your model.</h1>
<%# note:
this form is for the user to add excercises that they did to their total 
number of excercises and the user should be able to see their total points
 %>